body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

#content {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 45px;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 600px;
  margin: 10px;


}

h1 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 20px;
}

.sensor {
  background: #fff;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

p {
  margin: 10px;
  padding: 10px;
  font-size: 1.2em;
}

span {
  font-weight: bold;
  color: #007BFF;
}

@media (max-width: 600px) {
  body {
    height: 100vh;
    background: linear-gradient(135deg, #8FAADC 0%, #6cad95 100%);
  }

  #content {
    width: 95%;
  }

  h1 {
    font-size: 1.9em;
  }

  p {
    font-size: 1.5em;
  }
}

git add .
git commit -m "Add new style"
git push